.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 2rem;
  gap: 4rem;
}

.card {
  display: grid;
  grid: 400px;
  grid-template-columns: 400px;
  justify-content: center;
  width: max-content;
  border: 1px solid black;
  background-color: #1F1F38;
  border-radius: 1rem;
  padding: 2rem;
  gap: 1rem;

}

.card:hover {
  border: 3px dashed black;
  transition: all 400ms ease;
  background-color: transparent;
}

.card h1 {
  color: blue;
}

.metamask {
  display: flex;
  justify-content: right;
  padding-top: 2rem;
  padding-right: 6rem;
}

.btn {
  background-color: #1F1F38;
  width: max-content;
  color: #4db5ff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 3px solid #4db5ff;
}

.btn:hover {
  color: white;
  transition: all 400ms ease;
  border: 1px solid transparent;
}

.mint {
  display: flex;
  justify-content: center;
  font-size: 21px;
}

.footer {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}