.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.metamask {
  display: flex;
  justify-content: right;
  padding-top: 2rem;
  padding-right: 6rem;
}
.btn {
  background-color: rgba(61, 47, 47, 0.589);
  width: max-content;
  color: white;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid black;
}

.btn:hover {
  background: rgba(48, 38, 38, 0.589);
  color: white;
  border-color: transparent 2px solid;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
